# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environment
venv/
ENV/
.env/
env/
.venv/



# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and temp files
*.log
tmp/
*.tmp
*.swp
*.bak

# macOS
.DS_Store

# Windows
Thumbs.db
