<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ThriftIt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_header.css') }}">
</head>
<body>

  <header class="site-header">
    <div class="container">
      <a href="{{ url_for('home') }}" class="logo">ThriftIt</a>
      <img src="{{ url_for('static', filename='thriftit.png') }}" alt="ThriftIt" />

      <div class="user-actions">
        <div class="user-menu">
          Hello, <i class="fas fa-chevron-down"></i>
        </div>
        <a href="{{ url_for('upload') }}" class="btn-sell">Sell</a>
        <a href="{{ url_for('send_message') }}">Chat</a>
        <a href="{{ url_for('wishlist') }}">Wishlist</a>
        <a href="{{url_for('logout') }}">LogOut</a>
      </div>
    </div>
  </header>

</body>
</html>
