<html>
<head>
    <title>ThriftIt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/upload">Upload Product</a>
        <a href="/send_message">Send Message</a>
        <a href="/templates/inbox.html">Inbox</a>

    </nav>
    <hr>
    
    <div class="search-bar">
        <form action="/products" method="get">
            <input type="text" name="q" placeholder="Search for an item...">
            <button type="submit">Search</button>
        </form>
    </div>
    <hr>
    
<h1>Welcome to the Student Thrift Store!</h1>
<p>Find affordable second-hand gems from other students.</p>

<div class="viewmore-btn" >
    <a href="/products" class="viewmore">View More</a>
</div>
</body>
</html>
