<html>
<head>
    <title>ThriftIt – Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .product-card a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/upload">Upload Product</a>
</nav>
<hr>

<h1>Products</h1>


{% if search %}
    <p>Results for: <strong>{{ search }}</strong></p>
{% endif %}


{% if products %}
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <a href="{{ url_for('product_detail', product_id=product.id) }}">
                    <img src="{{ url_for('uploaded_file', filename=product.image) }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                </a>
                <p>RM{{ "%.2f"|format(product.price) }}</p>
            </div>
        {% endfor %}
    </div>


{% else %}
    <p style="text-align: center; font-weight: bold; margin-top: 50px;">No products found.</p>
{% endif %}

</body>
</html>