<html>
<head>
    <title>ThriftIt - Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_upload.css') }}">
</head>

<body>

    {% include 'profile_header.html' %}

<div class="upload-container">
    <form action="/upload" method="POST" enctype="multipart/form-data" style="display: flex; gap: 30px; width: 100%; flex-wrap: wrap;">
        
        <div class="left-box">
            <h2>Item Photo</h2>
            <input type="file" name="image" accept="image/*" required>
            <p>Up to 1 image is allowed</p>
        </div>

        <div class="right-box">
            <h2>Item Details</h2>

            <label for="category">Category</label>
            <select name="category" required>
                <option>Books</option>
                <option>Tech</option>
                <option>Clothes</option>
                <option>Others</option>
            </select>

            <label>Condition</label>
            <div class="condition-buttons">
              <label class="cond-btn">
                <input type="radio" name="condition" value="Brand New" required>
                <span>Brand New</span>
              </label>
              <label class="cond-btn">
                <input type="radio" name="condition" value="Like New" required>
                Like New
              </label>
              <label class="cond-btn">
                <input type="radio" name="condition" value="Lightly Used" required>
                Lightly Used
              </label>
              <label class="cond-btn">
                <input type="radio" name="condition" value="Well Used" required>
                Well Used
              </label>
              <label class="cond-btn">
                <input type="radio" name="condition" value="Heavily Used" required>
                Heavily Used
              </label>

            </div><br>

            <label>Item Title</label>
            <input type="text" name="name" required>

            <label>Description (Optional)</label>
            <input type="text" name="description">

            <label>Price (RM)</label>
            <input type="text" name="price" required>
            
            <div class="checkbox-area">
                <input type="checkbox" name="multiple"> I have more than one of the same item
            </div>

            <button type="submit" class="submit-btn">List Now</button>
        </div>
    </form>
</div>
</body>
</html>